* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: white;
}

#main-wrapper {
  height: 100vh;
}

.container {
  display: flex;
  text-align: start;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--greytext)
}

h3 {
  font-size: .9rem;
}

h2 {
  font-size: 1.6rem;
}

p {
  color: var(--greytext);
}

.active {
  color: white;
  border-left: 1px solid var(--greenactive);
}

.active-right {
  border-bottom: 1px solid var(--greenactive);
}

:root {
  --greytext: #787A7F;
  --paddingleft: 0px 0px 0px 15px;
  --greenactive: #C6F671;
}


main .mobile {
  display: none;
}

.debug {
  border: 1px solid white;
}

.debug-a {
  border: 1px solid black;
  background-color: rgb(21, 224, 224);
}

.debug-r {
  border: 1px solid black;
  background-color: red;
}

.debug-g {
  border: 1px solid black;
  background-color: greenyellow;
}

.debug-b {
  border: 1px solid black;
  background-color: blue;
}





/* MAIN */

/* TOP-BAR */

main .top-bar {
  display: flex;
  position: absolute;
  justify-content: right;
  align-items: center;
  right: 0;
  height: 70px;
  padding-right: 20px;
  width: calc(100% - 225px);
  background-color: #000000e3
}

main .top-bar a{
  font-size: .7rem;
  font-weight: 600;
  color: white;
  text-decoration: none;
  
}

main .top-bar .button {
  border: 1px solid white;
  padding: 10px 30px;
  border-radius: 50px;
  width: fit-content;
}

main .top-bar .button:hover {
  transform: scale(1.1);
}

main .maxi-container{
  display: flex;
  height: calc(100vh - 90px);
  overflow: hidden;
}






/* TOP COLUMN LEFT */
main .maxi-container .column-left {
  position: relative;
  width: 225px;
  background-color: #000;
  padding-bottom: 10px;
  height: 100%;
}

main .maxi-container .column-left .top {
  height: calc(100% - 70px);
  width: 100%;
}

main .maxi-container .column-left .top .logo {
  display: flex;
  align-items: center;
  height: 70px;
  padding: var(--paddingleft);
}

main .maxi-container .column-left .logo img {
  width: 65%;
}

main .maxi-container .column-left .logo.mobile {
  display: none;
}

main .maxi-container .column-left .home ul {
  width: 100%;
}

main .maxi-container .column-left .home li {
  margin: 6px 0;
}

main .maxi-container .column-left .home a {
  display: flex;
  align-items: center;
  padding: var(--paddingleft);
}

main .maxi-container .column-left .home a:hover {
  color: white;
}

main .maxi-container .column-left .home .desktop {
  padding: 15px 0;
}

main .maxi-container .column-left .home .desktop img {
  width: 25px;
  margin-right: 5px;
}







/* COLUMN LEFT PLAYLIST */

main .maxi-container .column-left .top-playlist {
  padding: var(--paddingleft);
}

main .maxi-container .column-left .crea-playlist {
  display: flex;
  align-items: center;
  padding: 10px 0;
  width: 100%;
}


main .maxi-container .column-left .crea-playlist a {
  display: flex;
  align-items: center;
}

main .maxi-container .column-left .crea-playlist span::before {
  display: inline-block;
  content: '+';
  width: 40px;
  height: 40px;
  background-color: #999;
  line-height: 40px;
  text-align: center;
  color: black;
  font-size: 35px;
  margin-right: 10px;
}

main .maxi-container .column-left .crea-playlist span:hover,
main .maxi-container .column-left .crea-playlist p:hover,
main .maxi-container .column-left .playlist a:hover,
main .maxi-container .column-left .bottom .install p:hover {
  color: white;
}

main .maxi-container .column-left .crea-playlist .add {
  margin-right: 5px;
}

main .maxi-container .column-left .crea-playlist img {
  width: 30px;
}

main .maxi-container .column-left .playlist {
  display: flex;
  height: calc(100% -  284px);
  overflow: auto;
}

main .maxi-container .column-left .playlist li {
  margin: 15px 0;
  padding: var(--paddingleft);
}







/* BOTTOM COLUMN LEFT */
main .maxi-container .column-left .bottom {
  width: 100%;
  padding: var(--paddingleft);
}

main .maxi-container .column-left .bottom .download {
  display: flex;
  align-items: center;
  width: 90%;
  padding-bottom: 10px;
  border-bottom: 0.2px solid var(--greytext);
}

main .maxi-container .column-left .bottom .icon {
  display: flex;
  align-items: center;
  margin-right: 6px;
}

main .maxi-container .column-left .bottom .icon img {
  width: 15px;
}

main .maxi-container .column-left .bottom .account {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

main .maxi-container .column-left .bottom .account .avatar {
  width: 30px;
  height: 30px;
  margin-right: 6px;
  border-radius: 50px;
  background-color: var(--greytext);
  background-image: url("/img/profile.svg");
}

main .maxi-container .column-left .bottom .account h5 {
  font-size: 0.9rem;
  
}




/* RIGHT COLUMN */
main .maxi-container .column-right {
  overflow: auto;
  padding: 80px 15px 30px 15px;
  width: calc(100% - 225px);
  height: 100%;
  background-color: #141922;
}

.column-right .menu-bar {
  text-align: center;
  padding: 5px 0;
  margin-bottom: 50px;
}

.column-right .menu-bar li {
  display: inline-block;
  margin: 0 10px;
  padding-bottom: 5px;
}

.column-right .menu-bar li a {
  font-size: .8rem;
  font-weight: bold;
}

.column-right .menu-bar li a:hover {
  color: white;
}

.column-right .cards {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin: 30px 0 0px 0;
}

.column-right .card {
  display: inline-block;
  width: calc(100% / 6 - 15px);
  margin-right: 15px;
  text-align: center;
}

.column-right .card img {
  width: 100%;

}
.column-right .card .cover {
  position: relative;
  cursor: pointer;
}

.column-right .card .layover {
  display: none;
}

.column-right .card:hover .layover {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 4px);
  font-size: 60px;
  background-color: #0000007a;
}

.column-right .card h4 {
  margin: 5px 0;
}

.column-right .card p {
  font-size: .8rem;
}

.column-right .central-section,
.column-right .bottom-section {
  margin-top: 50px;
}

.column-right .bottom-section img {
  border-radius: 50%;
}

.column-right .bottom-section .card:hover .layover {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 4px);
  font-size: 60px;
  border-radius: 50%;
  background-color: #0000007a;
}













/* FOOTER */
.player {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  color: white;
  background-color: #282828;
}

.player .player-left,
.player .player-center,
.player .player-right {
  display: flex;
  height: 100%;
  align-items: center;
}


/* PLAYER LEFT */
.player .player-left {
  padding-left: 10px;
  width: 30%;
}

.player .player-left img {
  width: 60px;
  margin-right: 15px;
}

.player .player-left .title {
  margin-right: 25px;
}

.player .player-left h4 {
  font-size: .9rem;
  color: white;
}

.player .player-left p {
  font-size: .8rem;
}

.player .player-left p:hover {
  color: white;
  text-decoration: underline;
}

.player .player-left .icons span {
  margin-right: 10px;
}


/* PLAYER CENTER */
.player .player-center {
  display: block;
  width: 40%;
}

.player .player-center .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  height: 55%;
  width: 100%;
}

.player .player-center .icons i {
  cursor: pointer;
  font-size: 17px;
  margin: 0px 15px;
}

.player .player-center .icons i:nth-child(3) {
  font-size: 28px;
}

.player .player-center .icons i:hover {
  transform: scale(1.1);
}

.player .player-center .time {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  width: 100%;
  height: 45%;
}

.player .player-center .time .time-min,
.player .player-center .time .time-max {
  display: flex;
  align-items: center;
}

.player .player-center .time .time-bar {
  display: flex;
  align-items: center;
  padding: 0 20px;
  width: 80%;
}

.player .player-center .time .time-bar .bar {
  height: 5px;
  background-color: var(--greytext);
  width: 100%;
  border-radius: 50px;
  cursor: pointer;
}

.player .player-center .time .time-bar .bar .progress {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 20%;
  height: 100%;
  border-radius: 50px;
  background-color: white;
}

.player .player-center .time .time-bar .bar .progress:hover {
  background-color: var(--greenactive);
}

.player .player-center .time .time-bar .bar .progress i {
  display: none;
}

.player .player-center .time .time-bar .bar .progress:hover i{
  display: block;
}

.player .player-center .time .time-bar .bar .progress:hover {
  background-color: var(--greenactive);
}




/* PLAYER RIGHT */

.player .player-right {
  display: flex;
  justify-content: end;
  padding-right: 10px;
  width: 30%;
}

.player .player-right .icons i {
  cursor: pointer;
  margin: 0px 8px;
}

.player .player-right .volume-bar .bar {
  height: 5px;
  margin-left: 8px;
  background-color: var(--greytext);
  width: 90px;
  cursor: pointer;
  border-radius: 50px;
}

.player .player-right .volume-bar .bar .progress {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 30%;
  height: 100%;
  background-color: white;
  border-radius: 50px;
}

.player .player-right .volume-bar .bar .progress:hover {
  background-color: var(--greenactive);
}

.player .player-right .volume-bar .bar .progress i{
  display: none;
}

.player .player-right .volume-bar .bar .progress:hover i {
  display: block;
}

.player .player-right .volume-bar .bar .progress i {
  cursor: pointer;
}





/*
************************************
            MEDIA QUERY
************************************
*/

/* L - DESKTOP DEFAULT */


/* M */
@media screen and (max-width: 878px) {
  .column-right .cards {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin: 20px 0 30px 0;
    
  }
  
  .column-right .card {
    display: inline-block;
    width: calc(100% / 4 - 15px);
    margin-right: 15px;
    text-align: center;
    margin-bottom: 10px;
  }

}



/* S */
@media screen and (max-width: 639px) {
  main .maxi-container .column-right .recently-played .col {
    max-width: 200px;
    height: 300px;
    padding: 5px
  } 

  .column-right .card {
    display: inline-block;
    width: calc(100% / 2 - 15px);
    margin-right: 15px;
    text-align: center;
    margin-bottom: 10px;
  }

  
}



/* XS */
@media screen and (max-width: 552px) {

  main .top-bar {
    width: calc(100% - 50px);
  }
  
  main .maxi-container .column-left {
    width: 50px;
    padding: 0;
  }

  main .maxi-container .column-right {
    width: calc(100% - 50px);
  }

  main .maxi-container .column-left .logo .mobile {
    justify-content: center;
    padding: 0;
  }

  main .maxi-container .column-left .home {
    justify-content: center;
  }

  main .maxi-container .column-left .home .mobile ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main .maxi-container .column-left .home a {
    padding-left: 0;
  }

  main .maxi-container .column-left .home .mobile img {
    width: 25px;
  }

  main .maxi-container .column-left .bottom .download {
    justify-content: center;
  }

  main .maxi-container .column-left .bottom {
    padding: 0;
  }

  main .maxi-container .column-left .bottom .account {
    justify-content: center;
  }

  main .maxi-container .column-left .bottom .account .avatar,
  main .maxi-container .column-left .bottom .download .icon {
    margin-right: 0;
  }

  main .maxi-container .column-left .bottom .install {
    display: none;
  }
  
  main .maxi-container .column-left .bottom h5 {
    display: none;
  }

  main .maxi-container .column-left .bottom .download {
    border-bottom: none;
  }
  
  
  main .desktop {
    display: none;
  }

  main .mobile {
    display: block;
  }

}
