* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: white;
}

#main-wrapper {
  height: 100vh;
}

.container {
  display: flex;
  text-align: start;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--greytext)
}

h3 {
  font-size: .9rem;
}

p {
  color: var(--greytext);
}

:root {
  --greytext: #787A7F;
  --paddingleft: 0px 0px 0px 15px;
}


main .mobile {
  display: none;
}

.debug {
  border: 1px solid white;
}

.debug-a {
  border: 1px solid black;
  background-color: rgb(21, 224, 224);
}

.debug-r {
  border: 1px solid black;
  background-color: red;
}

.debug-g {
  border: 1px solid black;
  background-color: greenyellow;
}

.debug-b {
  border: 1px solid black;
  background-color: blue;
}





/* MAIN */

/* TOP-BAR */

main .top-bar {
  display: flex;
  position: absolute;
  justify-content: right;
  align-items: center;
  right: 0;
  height: 70px;
  padding-right: 20px;
  width: calc(100% - 225px);
  background-color: #000000e3
}

main .top-bar a{
  font-size: .7rem;
  font-weight: 600;
  color: white;
  text-decoration: none;
  
}

main .top-bar .button {
  border: 1px solid white;
  padding: 10px 30px;
  border-radius: 50px;
  width: fit-content;
}

main .top-bar .button:hover {
  transform: scale(1.1);
}

main .maxi-container{
  display: flex;
  height: calc(100vh - 90px);
  overflow: hidden;
}






/* TOP COLUMN LEFT */
main .maxi-container .column-left {
  position: relative;
  width: 225px;
  background-color: #000;
  padding-bottom: 10px;
  height: 100%;
}

main .maxi-container .column-left .top {
  height: calc(100% - 70px);
  width: 100%;
}

main .maxi-container .column-left .top .logo {
  display: flex;
  align-items: center;
  height: 70px;
  padding: var(--paddingleft);
}

main .maxi-container .column-left .logo img {
  width: 65%;
}

main .maxi-container .column-left .logo.mobile {
  display: none;
}

main .maxi-container .column-left .home ul {
  width: 100%;
}

main .maxi-container .column-left .home li {
  margin: 6px 0;
  padding: var(--paddingleft);
}

main .maxi-container .column-left .home a {
  display: flex;
  align-items: center;
}

main .maxi-container .column-left .home a:hover {
  color: white;
}

main .maxi-container .column-left .home .desktop {
  padding: 15px 0;
}

main .maxi-container .column-left .home .desktop img {
  width: 25px;
  margin-right: 5px;
}







/* COLUMN LEFT PLAYLIST */

main .maxi-container .column-left .top-playlist {
  padding: var(--paddingleft);
}

main .maxi-container .column-left .crea-playlist {
  display: flex;
  align-items: center;
  padding: 10px 0;
  width: 100%;
}


main .maxi-container .column-left .crea-playlist a {
  display: flex;
  align-items: center;
}

main .maxi-container .column-left .crea-playlist span::before {
  display: inline-block;
  content: '+';
  width: 40px;
  height: 40px;
  background-color: #999;
  line-height: 40px;
  text-align: center;
  color: black;
  font-size: 35px;
  margin-right: 10px;
}

main .maxi-container .column-left .crea-playlist span:hover,
main .maxi-container .column-left .crea-playlist p:hover,
main .maxi-container .column-left .playlist a:hover,
main .maxi-container .column-left .bottom .install p:hover {
  color: white;
}

main .maxi-container .column-left .crea-playlist .add {
  margin-right: 5px;
}

main .maxi-container .column-left .crea-playlist img {
  width: 30px;
}

main .maxi-container .column-left .playlist {
  display: flex;
  height: calc(100vh - 430px);
  overflow: auto;
}

main .maxi-container .column-left .playlist li {
  margin: 15px 0;
  padding: var(--paddingleft);
}







/* BOTTOM COLUMN LEFT */
main .maxi-container .column-left .bottom {
  width: 100%;
  height: 70px;
  padding: var(--paddingleft);
}

main .maxi-container .column-left .bottom .download {
  display: flex;
  align-items: center;
  width: 90%;
  padding-bottom: 10px;
  border-bottom: 0.2px solid var(--greytext);
}

main .maxi-container .column-left .bottom .icon {
  display: flex;
  align-items: center;
  margin-right: 6px;
}

main .maxi-container .column-left .bottom .icon img {
  width: 15px;
}

main .maxi-container .column-left .bottom .account {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

main .maxi-container .column-left .bottom .account .avatar {
  width: 30px;
  height: 30px;
  margin-right: 6px;
  border-radius: 50px;
  background-color: var(--greytext);
  background-image: url("/img/profile.svg");
}

main .maxi-container .column-left .bottom .account h5 {
  font-size: 0.9rem;
  
}




/* RIGHT COLUMN */
main .maxi-container .column-right {
  overflow: auto;
  padding-top: 80px;
  width: calc(100% - 225px);
  height: 100%;
  background-color: #141922;
}






/* FOOTER */
.player {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  color: white;
  background-color: #282828;
}

.player .player-left,
.player .player-center,
.player .player-right {
  display: flex;
  height: 100%;
  align-items: center;
}

.player .player-center {
  justify-content: center;
  width: 40%;
}

.player .player-left {
  padding-left: 10px;
}

.player .player-left img {
  width: 60px;
  margin-right: 15px;
}

.player .player-left .title {
  margin-right: 25px;
}

.player .player-left h4 {
  font-size: .9rem;
}

.player .player-left p {
  font-size: .8rem;
}

.player .player-left .icons span {
  margin-right: 10px;
}


/*
************************************
            MEDIA QUERY
************************************
*/

/* L - DESKTOP DEFAULT */


/* M */
@media screen and (max-width: 992px) {

}



/* S */
@media screen and (max-width: 768px) {
  main .maxi-container .column-right .recently-played .col {
    max-width: 200px;
    height: 300px;
    padding: 5px
  } 
  
}



/* XS */
@media screen and (max-width: 450px) {

  main .top-bar {
    width: calc(100% - 50px);
  }
  
  main .maxi-container .column-left {
    width: 50px;
    padding: 0;
  }

  main .maxi-container .column-right {
    width: calc(100% - 50px);
  }

  main .maxi-container .column-left .logo .mobile {
    justify-content: center;
    padding: 0;
  }

  main .maxi-container .column-left .home {
    justify-content: center;
  }

  main .maxi-container .column-left .home .mobile ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main .maxi-container .column-left .home li {
    padding-left: 0;
  }

  main .maxi-container .column-left .home .mobile img {
    width: 25px;
  }

  main .maxi-container .column-left .bottom .download {
    justify-content: center;
  }

  main .maxi-container .column-left .bottom {
    padding: 0;
  }

  main .maxi-container .column-left .bottom .account {
    justify-content: center;
  }

  main .maxi-container .column-left .bottom .account .avatar,
  main .maxi-container .column-left .bottom .download .icon {
    margin-right: 0;
  }

  main .maxi-container .column-left .bottom .install {
    display: none;
  }
  
  main .maxi-container .column-left .bottom h5 {
    display: none;
  }

  main .maxi-container .column-left .bottom .download {
    border-bottom: none;
  }
  
  
  main .desktop {
    display: none;
  }

  main .mobile {
    display: block;
  }

}
